html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    /*top:50px;*/
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#wrapper {
    /*padding-left: 20%;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* Sidebar */
#sidebar-wrapper, #cmp-sidebar-wrapper{
    /*margin-left: -250px;*/
    left: -20%;
    width: 20%;
    /*background: lightgrey;*/
    background-color: white;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#page-content-open {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;

    /*transition-delay: 0.5s;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

/*#vertical-stripe {*/
    /*position: fixed;*/
    /*height: 100%;*/
    /*border: 1px solid black;*/
    /*background: lightgrey;*/
/*}*/

#close-sidebar {
    position: absolute;
    z-index: 1000;
    top : 20px;
    right : 10px;
}

#suburb-hover {
    position: fixed;
    z-index: 100;
    right: 5%;
    width: 15%;
    bottom: 18%;
    height: 10%;
    background: white;
    text-align: center;
    border: 1px solid red;
}

#carousel-suburb {
    left: 10%;
    right: 10%;
    width: 80%;
}
.carousel {
    visibility: hidden;
}

/*.trapezoid {*/
    /*position: relative;*/
    /*height: 100px;*/
    /*width: 0;*/
    /*border-top: 30px solid transparent;*/
    /*border-left: 50px solid black;*/
    /*border-bottom: 30px solid transparent;*/
/*}*/

.white{
    color: navy;
}

.size {
    font-size: 2.0em;
}


/*.col-md-6 {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.col-style {
    visibility: hidden;
}

.checkbox {
    position: fixed;
    /*visibility: hidden;*/
    bottom: 10px;
}

.divider {
    position:absolute;
    left: calc(100% - 1px);
    top: 10px;
    bottom: 10px;
    border-left:1px solid lightgrey;
    visibility: hidden;
    transition-delay: 0.5s;

}

/*.divider2{*/
    /*position:absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*bottom:0;*/
    /*border-left:5px solid lightgrey;*/
    /*visibility: hidden;*/
    /*transition-delay: 0.5s;*/

/*}*/

.nav-pills {
    text-align: center;
    visibility: hidden;
}

.nav-pills > li{
    float:none;
    display:inline-block;
}
.nav-pills {
    text-align: center;
    visibility: hidden;
}

.container-fluid {

    visibility: hidden;
}

.container-fluid .sidebar-open {
    /*background: white;*/
    /*margin-left: 10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-right: 10px;*/

    /*width: calc(100% - 20px);*/
    width: auto;
    height: calc(100% - 20px);
}

.container-fluid .sidebar-expanded {
    /*display:none;*/
}

/* Modifies the properties of the button with hidden visibility on load */
.button {
    /*transition-delay: 0.5s;*/
    visibility: hidden;
}


/* IF the sidebar is showing THEN
 * expanded the page-content-wrapper IF sidebarExpanded is toggled on
 */
#wrapper.showSidebar.sidebarExpanded #sidebar-wrapper {
    z-index: 1000;
    width: 100%;
}

/* IF the sidebar is showing THEN
 * move the page-content-open button to follow as the page-content-wrapper expands
 */
#wrapper.showSidebar.sidebarExpanded #page-content-open {
    right: 10px;
    left: auto;
}

#wrapper.showSidebar.sidebarExpanded .checkbox {
    visibility: hidden;
}

#wrapper.showSidebar.sidebarExpanded .carousel {
    visibility: visible;
    transition-delay: 0.5s;

}

#wrapper.showSidebar.sidebarExpanded .container-fluid.sidebar-expanded {
    visibility: visible;
    /*display: inline;*/
}

#wrapper.showSidebar.sidebarExpanded .nav-pills {
    visibility: visible;
    transition-delay: 0.5s;
}

#wrapper.showSidebar.sidebarExpanded #close-sidebar {
    visibility: hidden;
}

#wrapper.showSidebar.sidebarExpanded .row {
    transition-delay: 0.5s
}

/* IF the showSidebar is toggled on THEN
 *  set the width to 20 % AND add 20 px padding
 */
#wrapper.showSidebar #sidebar-wrapper {
    /*width: 20%;*/
    z-index: 100;
    left: 0%;

}

#wrapper.showSidebar .container-fluid.sidebar-open {
    visibility: visible;
    -webkit-transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -ms-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;
}

#wrapper.showSidebar #cmp-sidebar-wrapper {
    /*width: 20%;*/
    z-index: 0;
    left: 20%;

}

#wrapper.showSidebar #page-content-open {
    left: 20%;
    z-index: 1000;
}

/*#wrapper.showSidebar .checkbox {*/
    /*visibility: visible;*/
    /*transition-delay: 0.25s;*/

/*}*/

/*#wrapper.showSidebar .container-fluid {*/
    /*visibility: visible;*/
    /*transition-delay: 0.25s;*/

/*}*/

/* IF the sidebar is showing THEN
 * Set the map width to be 80%
 */
#wrapper.showSidebar #map {
    width: 80%;
}

/* IF the cmpChecked is toggled on THEN
 * Open sidebar-wrapper2 AND
 * Set the width to 20% with 20px padding
 */
/*#wrapper.cmpChecked #sidebar-wrapper {*/
    /*/!*width: 40%;*!/*/

/*}*/

#wrapper.cmpSuburbClicked #page-content-open {
    left: 40%;
    right: auto;

}

#wrapper.cmpSuburbClicked #cmp-sidebar-wrapper {
    left: 20%;
    right: auto;

}

/*#wrapper#sidebar-wrapper.cmpChecked .container-fluid {*/
    /*margin-right: 5px;*/
    /*width: auto;*/
/*}*/

/*#wrapper#cmp-sidebar-wrapper.cmpChecked .container-fluid {*/
    /*margin-left: 5px;*/
    /*width: auto;*/
/*}*/
#wrapper.cmpChecked .col-style {
    visibility: visible;
}

#wrapper.cmpSuburbClicked .divider {
    transition-delay: 0.1s;
    visibility: visible;

}

#wrapper.cmpChecked .divider2 {
    transition-delay: 0.1s;
    visibility: visible;
}

#wrapper.cmpChecked .close-sidebar{
    right : 10px;

}

#wrapper.cmpSuburbClicked #map {
    width: 60%;
}



/* IF the sidebar is showing THEN
 * the button will become visible
 */
#wrapper.showSidebar .button{
    /*transition-delay: 1.0s;*/
    visibility: visible;
}

#wrapper.showClose .button {
    visibility: visible;
}


/*#wrapper.closed #sidebar-wrapper{*/
    /*lef*/
/*}*/

/*#wrapper.closed #sidebar-wrapper {*/
    /*width: 0%;*/
/*}*/

/*#wrapper.closed #map {*/
    /*width: 100%;*/
/*}*/

#heatmap-housing {
    position: fixed;
    z-index: 100;
    right: 15%;
    width: 5%;
    bottom: 13%;
    height: 5%;
    background: mediumpurple;
    text-align: center;
    border: 1px solid red;
}

#heatmap-schools {
    position: fixed;
    z-index: 100;
    right: 10%;
    width: 5%;
    bottom: 13%;
    height: 5%;
    background: lightblue;
    text-align: center;
    border: 1px solid red;
}

#heatmap-hospitals {
    position: fixed;
    z-index: 100;
    right: 5%;
    width: 5%;
    bottom: 13%;
    height: 5%;
    background: green;
    text-align: center;
    border: 1px solid red;
}


/*.sidebar-nav {*/
/*position: absolute;*/
/*top: 0;*/
/*width: 100%;*/
/*list-style: none;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/


/*ul {*/
    /*/!*padding: 0px;*!/*/
    /*list-style-type:none;*/
/*}*/
/*ul li {*/
    /*/!*list-style: none;*!/*/
    /*/!*padding: 20px;*!/*/
    /*margin: 20px;*/
    /*text-indent: 20px;*/
    /*line-height: 40px;*/
/*}*/

/*li a {*/
    /*display: block;*/
    /*text-decoration: none;*/
/*}*/









/*.sidebar-nav {*/
/*position: absolute;*/
/*top: 0;*/
/*width: 100%;*/
/*list-style: none;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/


/*ul {*/
    /*/!*padding: 0px;*!/*/
    /*list-style-type:none;*/
/*}*/
/*ul li {*/
    /*/!*list-style: none;*!/*/
    /*/!*padding: 20px;*!/*/
    /*margin: 20px;*/
    /*text-indent: 20px;*/
    /*line-height: 40px;*/
/*}*/

/*li a {*/
    /*display: block;*/
    /*text-decoration: none;*/
/*}*/

/*.sidebar-nav li a:hover {*/
    /*background: #16A085;*/
/*}*/

/*@media (max-width:767px) {*/

    /*#wrapper {*/
        /*padding-left: 0;*/
    /*}*/

    /*#sidebar-wrapper {*/
        /*left: 0;*/
    /*}*/

    /*#wrapper.active {*/
        /*position: relative;*/
        /*left: 250px;*/
    /*}*/

    /*#wrapper.active #sidebar-wrapper {*/
        /*left: 250px;*/
        /*width: 250px;*/
        /*transition: all 0.4s ease 0s;*/
    /*}*/

/*}*/