html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width:75%;
    height:100%;
    position:absolute;
    right:0px;
    /*top:50px;*/
    bottom:0;
    overflow:hidden;
}

#search-bar {
    width: 250px;
    z-index: 1000;
    position: fixed;
}
#wrapper {
    padding-left: 25%;
    transition: all 0.4s ease 0s;
}

/* Sidebar */
#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 25%;
    background: white;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
    padding: 20px;
}

/* Page Content */
#page-content-wrapper {
    width: 100%;
}

#wrapper.menuExpanded #sidebar-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: #16A085;
}

/*@media (max-width:767px) {*/

    /*#wrapper {*/
        /*padding-left: 0;*/
    /*}*/

    /*#sidebar-wrapper {*/
        /*left: 0;*/
    /*}*/

    /*#wrapper.active {*/
        /*position: relative;*/
        /*left: 250px;*/
    /*}*/

    /*#wrapper.active #sidebar-wrapper {*/
        /*left: 250px;*/
        /*width: 250px;*/
        /*transition: all 0.4s ease 0s;*/
    /*}*/

/*}*/